@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&family=BBH+Sans+Hegarty&family=Boldonse&family=Stack+Sans+Notch:wght@200..700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif,BBH  ICA;

}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #0a0a0a, #3a4452);

}

.calculator {
  border: 1px solid #717377;
  padding: 20px;
  border-radius: 16px;
  background: transparent;
  box-shadow: 0px 3px 15px rgba(113, 115, 121, 0.15);


}

input {
  width: 320px;
  border: none;
  padding: 24px;
  margin: 10px;
  background: transparent;
  border-bottom: 1px solid #717377;
  font-size: 40px;
  text-align: right;
  cursor: pointer;
  color:#ffff

}

input::placeholder {
  color: #717377;
}

button {
  width:60px;
  height:60px;
  border: none;
  margin: 10px;
  border-radius: 50%;
  background: transparent;
  color: #ffff;
  font-size: 20px;
  cursor: pointer;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.25);

} 

.equalBtn {
  background-color: #fb7c14;
}

.operator {
  color: #6dee0a;
}
